canvas {
    border: 2px;
    border-style: double;
    border-color: blue;
    width: 1200px;
    height: 700px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    position: absolute;
    background-image: url("background.png") ;
    background-size: cover;
}
.image {
    position: absolute;
    left: 1250px;
    display: none;
}
#sideBoard {
    position: absolute;
    left: 1220px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: coral;
}
h1 {
    text-align: center;
}
#bt {
    text-align: center;
}
.life {
    text-align: center;
    position: absolute;
    left: 1270px;
    top: 420px;
    display: block;
}
.loaded {
    position: absolute;
    left: 1290px;
    top: 520px;
    display: block;
}
